{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"  crossorigin="anonymous"></script>


    <script src="https://kit.fontawesome.com/e46e6a842f.js" crossorigin="anonymous"></script>
    <!-- CSS only -->


    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">

</div>
<div>

{% include 'header.html' %}
{% include 'navbar.html' %}
{% block content %}
{% endblock %}
    </div>
{% include 'footer.html' %}

<script src="{% static 'js/slim.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'js/popper.min.js' %}"  crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"  crossorigin="anonymous"></script>



</body>
</html>